<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsPrcSATSOAPSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://seguimientos.gallastegui.com//awsprcsatsoap.aspx"
                binding="basicHttpBinding" bindingConfiguration="wsPrcSATSOAPSoapBinding"
                contract="broken.wsPrcSATSOAPSoapPort" name="wsPrcSATSOAPSoapPort" />
        </client>
    </system.serviceModel>
</configuration>